h1 {color:white;
    margin-top: 150px;
    margin-left: 600px;
    font-size: 80px;
    text-decoration: underline;
    text-shadow: 2px 2px;}


p {color: white;
    margin-top: 45px;
    margin-left: 728px;
    font-size: 48px;}

body {background-image:url(https://images7.alphacoders.com/796/thumb-1920-796660.jpg) ;}

img {margin-top: 67px;
    margin-left: 780px;}